ACTION=="add", SUBSYSTEM=="input", KERNEL=="mouse[0-9]", ENV{DISPLAY}=":0",ENV{XAUTHORITY}="/home/stepek/.Xauthority", ENV{ID_CLASS}="mouse", RUN+="/home/stepek/.bash/touchpad_switcher.sh false"

ACTION=="remove", SUBSYSTEM=="input", KERNEL=="mouse[0-9]", ENV{DISPLAY}=":0",ENV{XAUTHORITY}="/home/stepek/.Xauthority", ENV{ID_CLASS}="mouse", RUN+="/home/stepek/.bash/touchpad_switcher.sh true"
